<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Semantic UI</title>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
	<script type="text/javascript" src="static/semantic/dist/semantic.min.js"></script>
	<style type="text/css">

	</style>
</head>
<body>
<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
  	<div class="item">
	   <img src="static/images/icon1.png">
	   <span style="font-size: medium;">&nbsp;IntelTrackr</span>
	</div>
    <a class="item" href="manege-list.html">
      Info List
    </a>
    <a class="item" href="actor-list.html">
      Actor List
    </a>
    <a class="item" href="audit.html">
      Verify
    </a>
    <div class="right menu">
	  <div class="item">
		<p style="font-family: '微软雅黑'; font-style: italic;">Administrator</p>
	  </div>
	  <a class="ui item">
	    Logout
	  </a>
	</div>
  </div>
</div>
<div class="ui container">
	<div class="ui grid">
	<div class="row">
		<div class="ui hidden divider"></div>
	</div>
	<div class="ui centered row">
	  <img class="ui  image" src="static/images/center.png">
	</div>
	<div class="row">
		<div class="fourteen wide centered column">
		    <form id="search-input">
		    <div class="ui fluid right action left icon big input">
		      <i class="search icon"></i>
			  <input type="text" spellcheck="false" id="keyword" placeholder="Search for url,  domain,  or something relative to resource...">
			  <div class="ui basic floating dropdown button index-option">
				  <div class="text">Option</div>
				  <i class="dropdown icon"></i>
				  <div class="menu">
				    <div class="item">actor</div>
				    <div class="item active selected">report</div>
				  </div>
			  </div>
			  <!-- <div class="ui button">Search</div> -->
			</div>
			</form>
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="centered row ">
		<div class="ui small statistics">
		  <div class="statistic">
		    <div class="value">
		      <i class="file outline icon"></i>120,233
		    </div>
		    <div class="label">
		      Malware samples
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      <i class="linkify icon"></i>238,745
		    </div>
		    <div class="label">
		      IOCs
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      <i class="spy icon"></i> 38,637
		    </div>
		    <div class="label">
		      Actors
		    </div>
		  </div>
		  <div class="statistic">
		    <div class="value">
		      <i class="users icon"></i>
		      <!-- <img src="images/team.png" class="ui circular inline image"> -->
		      49,800
		    </div>
		    <div class="label">
		      Team Members
		    </div>
		  </div>
		</div>
	</div>
	
	<div class="centered row">
			<div class="ui card seven wide column">
			  <div class="content">
			    <div class="header"><i class="linkify icon"></i>recent IOC</div>
			  </div>
			  <div class="content">
			    <table class="ui compact selectable table">
				  <tbody>
				    <tr>
				      <td><a href="http://www.baidu.com/" target="_">aftermarket.pl</a></td>
				    </tr>
				    <tr>
				      <td>static.aftermarket.pl</td>
				    </tr>
				    <tr>
				      <td>wafemme.net</td>
				    </tr>
				    <tr>
				      <td>www.wafemme.net</td>
				    </tr>
				    <tr>
				      <td>silverliningfabrics.com</td>
				    </tr>
				    <tr>
				      <td>i1-news.softpedia-static.com</td>
				    </tr>
				    <tr>
				      <td>yhxxx.3322.org</td>
				    </tr>
				    <tr>
				      <td>bejojy.com</td>
				    </tr>
				    <tr>
				      <td>nvuuye.com</td>
				    </tr>
				    <tr>
				      <td>juawaw.com</td>
				    </tr>
				  </tbody>
				</table>
			  </div>
			</div>
			<div class="one wide column"></div>
			<div class="ui card seven wide column">
			  <div class="content">
			    <div class="header"><i class="spy icon"></i>recent Actor</div>
			  </div>
			  <div class="content">
			    <table class="ui compact selectable table">
				  <tbody>
				    <tr>
				      <td><a href="javascript:void(0)">aftermarket.pl</a></td>
				    </tr>
				    <tr>
				      <td>static.aftermarket.pl</td>
				    </tr>
				    <tr>
				      <td>wafemme.net</td>
				    </tr>
				    <tr>
				      <td>www.wafemme.net</td>
				    </tr>
				    <tr>
				      <td>silverliningfabrics.com</td>
				    </tr>
				    <tr>
				      <td>i1-news.softpedia-static.com</td>
				    </tr>
				    <tr>
				      <td>yhxxx.3322.org</td>
				    </tr>
				    <tr>
				      <td>bejojy.com</td>
				    </tr>
				    <tr>
				      <td>nvuuye.com</td>
				    </tr>
				    <tr>
				      <td>juawaw.com</td>
				    </tr>
				  </tbody>
				</table>
			  </div>
			</div>
	</div>

	</div>
</div>
<!-- <button onclick="test()">asdasd</button> -->
<script type="text/javascript">
$('.ui.dropdown').dropdown();


$("#search-input").submit(function(e){	
	console.log($(".ui.dropdown.index-option").dropdown("get value"));
  if($('#keyword').val()=="")
  	return false;
  var url;
  if($(".ui.dropdown.index-option").dropdown("get value")=="actor")
   	url = "actor-list.html?keyword="+$('#keyword').val();
  else
  	url = "manege-list.html?keyword="+$('#keyword').val();

  window.location.href=encodeURI(url);
  return false;
});

function test() {
	window.location.href="http://127.0.0.1:8989/manege-list.html";
}
</script>
</body>
</html>